<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Library Management System</title>
  </head>
  <body>
    <h1>Find a book</h1>
    <form>
      <label for="isbn"></label>
      <input
        type="text"
        name="isbn"
        id="isbn"
        placeholder="Enter book's isbn"
      />
      <button id="isbnBtn">Find</button>
    </form>

    <div id="book"></div>
  </body>
  <script src="index.js"></script>
</html>
